# API Gateway Config
SECRET_KEY=dev-secret-key
ALGORITHM=HS256

# Downstream Services
AUTH_SERVICE_URL=http://auth-service:8001
MEETING_SERVICE_URL=http://meeting-service:8002
AI_SERVICE_URL=http://ai-service:8004

REDIS_URL=redis://redis:6379/0
