# Environment Configuration
ENVIRONMENT=development # development | production

# Redis
REDIS_URL=redis://redis:6379/0

# Dev Email Config (Equivalent to Nodemailer/Ethereal/Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_mailtrap_user
SMTP_PASS=your_mailtrap_pass

# Prod Email Config
RESEND_API_KEY=your_resend_api_key
FROM_EMAIL=noreply@yourdomain.com
