# Meeting Service Config
SECRET_KEY=dev-secret-key
ALGORITHM=HS256

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/your_db

# Redis
REDIS_URL=redis://redis:6379/0

# Gmail API Email Config
GMAIL_CLIENT_ID=your_gmail_client_id_here
GMAIL_CLIENT_SECRET=your_gmail_client_secret_here
GMAIL_REFRESH_TOKEN=your_gmail_refresh_token_here
FROM_EMAIL=your_gmail_address_here

